<% layout('layouts/boilerplate.ejs') %>

<!-- resultDetails.css -->
<link href="/css/liveLocation.css" rel="stylesheet" type="text/css" />

<!-- body -->
<!-- map -->
<div id="map"></div>
<div class="live-tracking">
  <h1 class="live-location"></h1>
</div>
<!-- end of map -->

<div class="buttons">
  <button
    type="button"
    class="btn"
    data-toggle="modal"
    data-target="#exampleModalCenter"
  >
    <i
      class="fa-solid fa-thumbs-down fa-2xl rating-btn"
      style="color: #7b0202"
    ></i>
  </button>
  <span class="like-count"></span>
  <i class="fa-solid fa-thumbs-up fa-2xl rating-btn" style="color: #005c06"></i>
  <span class="dislike-count"></span>

  <h5>هل ساعدتك النتائج في الوصول الى وجهتك ؟</h5>
</div>

<!-- pop-up modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          اي طريق لم يلق استحسانك ؟
        </h5>
      </div>
      <div class="modal-body">
        <form>
          <% var lineNumbersArray = lineNumbers.split(','); %> <% var typesArray
          = types.split(','); %> <% var namesArray = names.split(','); %> <%
          lineNumbersArray.forEach((line, index) => { %> <% var type =
          typesArray[index] || ''; %> <% var name = namesArray[index] || ''; %>
          <% var nextName = namesArray[index + 1] || ''; %>
          <div class="option">
            <input
              type="checkbox"
              id="option<%= index + 1 %>"
              name="options"
              value="<%= line %>"
            />
            <label class="main-option" for="option<%= index + 1 %>">
              <span class="node-name"><%= name %> - </span>
              <span class="node-name"><%= nextName %></span>
              <% if (type === 'bus') { %> اوتوبيس <% } else if (type ===
              'microbus') { %> ميكروباص <% } else if (type === 'metro') { %>
              مترو <% } else { %> <%= type %> <% } %> (<%= line %>)
            </label>
            <div
              id="additionalOptions-option<%= index + 1 %>"
              class="additional-options"
            ></div>
          </div>
          <% }); %>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary close-btn"
          data-dismiss="modal"
        >
          اغلاق
        </button>
        <button type="button" class="btn btn-primary submit-review">
          ارسال الشكوى
        </button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnDdZwes8n2Icz5XFeId1r5e-qhHmMWfU&callback=initMap&v=weekly"
  defer
  async
></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="/js/liveLocationBlindmode.js"></script>
<script src="/js/googleMaps.js"></script>
<script src="/js/reviewPaths.js" type="module"></script>
