<%layout('layouts/boilerplate.ejs')%>
<link href="/css/result.css" rel="stylesheet" type="text/css" />
<link href="/css/resultNoScss.css" rel="stylesheet" type="text/css" />
<!-- body -->
<h1 class="main-heading"><%=currentOrder%></h1>
<!-- radio buttons -->
<!-- <div class="radio">
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio1"
      value="option1"
    />
    <label class="form-check-label" for="inlineRadio1">السعر</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio2"
      value="option2"
    />
    <label class="form-check-label" for="inlineRadio2">الوقت</label>
  </div>
</div> -->
<!-- picker -->
<div class="picker">
  <div class="picker-window"></div>
  <ul class="picker-route">
    <%if(numberOfAvailablePaths==0){%>
    <h1>عفوا, لا يوجد طرق متاحة</h1>
    <%}else{ for(let i=0 ; i< numberOfAvailablePaths ; i++){let
    pathLength=data[i].length%>
    <%if(currentURL=="/webVersion/result/orderByDistance"){%>
    <form
      action="/webVersion/result/orderByDistance/resultDetails/<%=routeNumber%>?Location=<%=location%>&Destination=<%=destination%>&LocationWalk=<%=locWalkingDistance%>&DestinationWalk=<%=destWalkingDistance%>"
      method="post"
      name="detailsForm"
    >
      <button class="route-btn btn btn-primary">
        <h1 class="route-heading">
          طريق رقم <%=routeNumber%> , المسافة
          :<%=data[i][pathLength-1].totalDistance%> كم
        </h1>
      </button>
    </form>
    <%}else if(currentURL=="/webVersion/result/orderByCost"){%>
    <form
      action="/webVersion/result/orderByCost/resultDetails/<%=routeNumber%>?Location=<%=location%>&Destination=<%=destination%>&LocationWalk=<%=locWalkingDistance%>&DestinationWalk=<%=destWalkingDistance%>"
      method="post"
      name="detailsForm"
    >
      <button class="route-btn btn btn-primary">
        <h1 class="route-heading">
          طريق رقم <%=routeNumber%> , السعر
          :<%=data[i][pathLength-1].totalCost%> جنيه
        </h1>
      </button>
    </form>
    <%}%> <% routeNumber ++ %> <%}%> <%}%>
  </ul>
</div>

<%# back button #%>
<div class="ctrl-btn">
  <a href="/webVersion" class="btn btn-lg btn-primary back-btn">رجوع</a>
</div>
<%# result.js #%>
<script src="/js/result.js"></script>
