<%layout('layouts/boilerplate.ejs')%>
<link href="/css/result.css" rel="stylesheet" type="text/css" />
<link href="/css/resultNoScss.css" rel="stylesheet" type="text/css" />
<!-- body -->
<h1 class="main-heading"><%=currentOrder%></h1>
<!-- radio buttons -->
<!-- <div class="radio">
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio1"
      value="option1"
    />
    <label class="form-check-label" for="inlineRadio1">السعر</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio2"
      value="option2"
    />
    <label class="form-check-label" for="inlineRadio2">الوقت</label>
  </div>
</div> -->
<!-- picker -->
<div class="picker">
  <div class="picker-window"></div>
  <ul class="picker-route">
    <%if(numberOfAvailablePaths==0){%>
    <h1>عفوا, لا يوجد طرق متاحة</h1>
    <%}else{ for(let i=0 ; i< numberOfAvailablePaths ; i++){let
    pathLength=data[i].length%>
    <%if(currentURL=="/webVersion/result/orderByDistance"){%>
    <form
      action="/webVersion/result/orderByDistance/resultDetails/<%=routeNumber%>?Location=<%=location%>&Destination=<%=destination%>&LocationWalk=<%=locWalkingDistance%>&DestinationWalk=<%=destWalkingDistance%>"
      method="post"
      name="detailsForm"
    >
      <button class="route-btn btn btn-primary ticker">
        <span class="text-wrapper"
          ><h1 class="route-heading">
            <%for(let i = 0; i < data[routeNumber-1].length; i++) {%>
            <%if(data[routeNumber-1][i].transportationType == "bus"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%> اركب اتوبيس (خط رقم:
            <%=data[routeNumber-1][i].lineNumber%>) من
            <%=data[routeNumber-1][i].name%> -> <%}%> <%}else
            if(data[routeNumber-1][i].transportationType == "microbus"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%>انزل
            <%=data[routeNumber-1][i].name%> واركب ميكروباص
            <%=data[routeNumber-1][i].lineNumber%> -> <%}%> <%}else
            if(data[routeNumber-1][i].transportationType == "metro"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%>انزل
            <%=data[routeNumber-1][i].name%> واركب مترو
            <%=data[routeNumber-1][i].lineNumber%> -> <%}%><%}else
            if(data[routeNumber-1][i].transportationType == undefined){%> انزل
            <%=data[routeNumber-1][i].name%> <%}%> <%}%> : المسافة
            :<%=data[i][pathLength-1].totalDistance%> كم ,السعر:
            <%=data[i][pathLength-1].totalCost%> جنيه ,الوقت:
            <%=data[i][pathLength-1].totalTime%> دقيقة
          </h1></span
        >
      </button>
    </form>
    <%}else if(currentURL=="/webVersion/result/orderByTime"){%>
    <form
      action="/webVersion/result/orderByTime/resultDetails/<%=routeNumber%>?Location=<%=location%>&Destination=<%=destination%>&LocationWalk=<%=locWalkingDistance%>&DestinationWalk=<%=destWalkingDistance%>"
      method="post"
      name="detailsForm"
    >
      <button class="route-btn btn btn-primary ticker">
        <span class="text-wrapper"
          ><h1 class="route-heading">
            <%for(let i = 0; i < data[routeNumber-1].length; i++) {%>
            <%if(data[routeNumber-1][i].transportationType == "bus"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%> اركب اتوبيس (خط رقم:
            <%=data[routeNumber-1][i].lineNumber%>) من
            <%=data[routeNumber-1][i].name%> -> <%}%> <%}else
            if(data[routeNumber-1][i].transportationType == "microbus"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%>انزل
            <%=data[routeNumber-1][i].name%> واركب ميكروباص
            <%=data[routeNumber-1][i].lineNumber%> -> <%}%> <%}else
            if(data[routeNumber-1][i].transportationType == undefined){%> انزل
            <%=data[routeNumber-1][i].name%> <%}%> <%}%> : الوقت
            :<%=data[i][pathLength-1].totalTime%> دقيقة ,السعر:
            <%=data[i][pathLength-1].totalCost%> جنيه ,المسافة:
            <%=data[i][pathLength-1].totalDistance%> كم
          </h1></span
        >
      </button>
    </form>
    <%}else if(currentURL=="/webVersion/result/orderByCost"){%>
    <form
      action="/webVersion/result/orderByCost/resultDetails/<%=routeNumber%>?Location=<%=location%>&Destination=<%=destination%>&LocationWalk=<%=locWalkingDistance%>&DestinationWalk=<%=destWalkingDistance%>"
      method="post"
      name="detailsForm"
    >
      <button class="route-btn btn btn-primary ticker">
        <span class="text-wrapper"
          ><h1 class="route-heading">
            <%for(let i = 0; i < data[routeNumber-1].length; i++) {%>
            <%if(data[routeNumber-1][i].transportationType == "bus"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%> اركب اتوبيس (خط رقم:
            <%=data[routeNumber-1][i].lineNumber%>) من
            <%=data[routeNumber-1][i].name%> -> <%}%> <%}else
            if(data[routeNumber-1][i].transportationType == "microbus"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%>انزل
            <%=data[routeNumber-1][i].name%> واركب ميكروباص
            <%=data[routeNumber-1][i].lineNumber%> -> <%}%><%}else
            if(data[routeNumber-1][i].transportationType == "metro"){%>
            <%if(data[routeNumber-1][i+1].lineNumber ==
            data[routeNumber-1][i].lineNumber){%>
            <%data[routeNumber-1][i+1].name =
            data[routeNumber-1][i].name}else{%>انزل
            <%=data[routeNumber-1][i].name%> واركب مترو
            <%=data[routeNumber-1][i].lineNumber%> -> <%}%> <%}else
            if(data[routeNumber-1][i].transportationType == undefined){%> انزل
            <%=data[routeNumber-1][i].name%> <%}%> <%}%> : السعر
            :<%=data[i][pathLength-1].totalCost%> جنيه ,المسافة:
            <%=data[i][pathLength-1].totalDistance%> كم ,الوقت:
            <%=data[i][pathLength-1].totalTime%> دقيقة
          </h1></span
        >
      </button>
    </form>
    <%}%> <% routeNumber ++ %> <%}%> <%}%>
  </ul>
</div>

<%# back button #%>
<div class="ctrl-btn">
  <a href="/webVersion" class="btn btn-lg btn-primary back-btn">رجوع</a>
</div>
<%# result.js #%>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="/js/resultBlindmode.js"></script>
<script src="/js/result.js"></script>

<script src="/js/blindmode.js"></script>
