<%layout('layouts/boilerplate.ejs')%>
<!-- resultDetails.css -->
<link href="/css/resultDetails.css" rel="stylesheet" type="text/css" />
<!-- body -->
<!-- <h1>(your path in details)</h1> -->
<ul>
  <%for(let i = 0; i < data[id-1].length; i++) {%>
  <%if(data[id-1][i].transportationType == "bus"){%>
  <%if(data[id-1][i+1].lineNumber == data[id-1][i].lineNumber){%>
  <%data[id-1][i+1].name = data[id-1][i].name}else{%> اركب اتوبيس (خط رقم:
  <%=data[id-1][i].lineNumber%>) من <%=data[id-1][i].name%> -> <%}%> <%}else
  if(data[id-1][i].transportationType == "microbus"){%>
  <%if(data[id-1][i+1].lineNumber == data[id-1][i].lineNumber){%>
  <%data[id-1][i+1].name = data[id-1][i].name}else{%>انزل
  <%=data[id-1][i].name%> واركب ميكروباص <%=data[id-1][i].lineNumber%> ->
  <%}%><%}else if(data[id-1][i].transportationType == "metro"){%>
  <%if(data[id-1][i+1].lineNumber == data[id-1][i].lineNumber){%>
  <%data[id-1][i+1].name = data[id-1][i].name}else{%>انزل
  <%=data[id-1][i].name%> واركب مترو <%=data[id-1][i].lineNumber%> -> <%}%>
  <%}else if(data[id-1][i].transportationType == undefined){%> انزل
  <%=data[id-1][i].name%> <%}%> <%}%>
</ul>
<div class="buttons">
  <a
    href="/resultDetails/liveLocation?names=<%=names%>&lineNumbers=<%=lineNumbers%>&types=<%=transportationTypes%>"
    class="btn btn-lg live-btn btn-danger"
    >تتبع مسارك على الخريطة</a
  >
  <button onclick="history.back()" class="btn btn-lg back-btn btn-primary">
    رجوع
  </button>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="/js/resultDetailsBlindmode.js"></script>
<script src="/js/reviewPaths.js"></script>
